<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.datatheorem.android.trustkit.demoapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="test" android:resource="@xml/network_security_config"/>
        <activity
            android:name=".DemoMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data android:name="TSKConfiguration" android:resource="@array/TSKConfiguration"/>
    </application>

</manifest>